.place__url {
    padding-top: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20.4px;
    color: #AAAAAA;
  }

@media only screen and (max-width: 1280px) and (min-width: 1024px) {}

@media only screen and (max-width: 1024px) and (min-width: 768px) {}

@media only screen and (max-width: 768px) and (min-width: 425px) {}

@media only screen and (max-width: 425px) {
    
}