

@font-face {
  font-family: 'Inter';
  src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Bold.woff2);
  font-weight: bold;
}

/* это не совсем по БЭМ, но в учебном проекте допустимо.
В реальных условиях пишите margin: 0; внутри блоков */

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
}

body {
  background-color: #2A2C2F;
}

.page {
  max-width: 1440px;
  margin: auto;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}



/* header */


.header__container {
  min-width: 320px;
  max-width: 1280px;
  margin: auto;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}


.logo_place_header {
  max-width: 176px;
  max-height: 52px;
}


.header__link {
  line-height: 28px;
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
  padding-left: 18px;
  text-decoration: none;
}






/* cover */
.cover {
  max-width: auto;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  box-sizing: border-box;
  padding: 56px 0 0;
}

.cover__container {
  width: 90%;
  margin: auto;
}

.cover__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
}

.cover__subtitle {
  font-size: 30px;
  font-style: normal;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  display: flex;
  margin: 20px auto 0px;
  justify-content: space-around;
}


.cover__train {
  font-weight: 600;
  font-size: 60px;
  line-height: 1.15;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
}


.cover__capation {
  font-size: 10px;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 1.5px;
  padding-top: 8px;
  text-align: center;
  max-width: 984px;
  display: flex;
  margin: 0px auto 0px;
  justify-content: flex-start;
}

/* travel */

  .travel {
    color: #ffffff;
  }

  .travel__kotainer {
    width: 984px;
    margin: 0 auto;
    

  }

  .travel__title {
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    padding-top: 92px;
    padding-left: 0;
    max-width: 984px;
    display: flex;
    justify-content: flex-start;
  }

  .travel__quote {
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
    padding-top: 40px;
    padding-left: 0;
    max-width: 984px;
    display: flex;
    justify-content: flex-start;
    width: 769px;
    margin-top: 0;
  }

  .travel__time-zones {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      margin-top: 20px;
      margin-bottom: 16px;
  }

  .travel__time-zone {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;

      text-decoration: none;
  
   
  }
  

  /* column */

.content__columns {
display: grid;
grid-gap: 10px;
height: 100vh;
grid-template-columns: repeat(auto-fill, minmax(100px, auto));

}

.content__column-image {
width: 300px;

padding-bottom: 100%;
background-size: cover;
background-position: center;
}

.content__column-image_hero_laika {
  background-image: url(https://pictures.s3.yandex.net/frontend-developer/responsive/laika.png);
}


  /* cards */

  

  .cards {
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    /* justify-items: center; */
    justify-content: center;
    padding-top: 92px;
  }

   /* place */


  .place {
    color: #ffffff;

    max-width: 984px;
    margin: 0 auto;
    display: grid;
    gap: 40px;
    justify-content: center;
    padding-top: 92px;
  }

  .place__kosa {
    padding-top: 48px;
  }

.place__link {
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

  .__url-heading {
    padding-top: 110px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20.4px;
    color: #AAAAAA;

  }

  .place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #ffffff;
    /* text-align: center; */
    /* width: 60%; */
    /* display: flex; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* justify-content: center; */
    margin-top: 0;
    margin-bottom: 0;
   
}

.place__paragraph {
  padding-top: 48px;

  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
}

 


  /* cover */



.feynman {
  width: 100%;
  min-height: 740px;
  background-image: url(/images/__background.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
margin-top: 92px;
color: #ffffff;

}


.feynman__title {
  font-weight: 900;
  line-height: 76px;
  font-size: 72px;
  text-align: center;
  max-width: 648px;
  padding-top: 196px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.feynman__subtitle {
  font-size: 18px;
  text-align: center;
  padding-top: 32px;
  width: 360px;
  line-height: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}


  /* footer */

  .footer__columns {
    color: #ffffff;

    min-width: 320px;
    max-width: 1185px;
    margin: auto;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }




  /* trying resizes with media */

  @media screen and (max-width: 425px) {
    .cards { 
      grid-template-columns: repeat(1, 288px); 
    }
  
    .__item {
      max-width: 288px;
     }
    .place {
      grid-template-columns: 320px; 
    }

    .logo_place_header {
      max-width: 142px;
      max-height: 42px;
    }

    

    .cover__title {
      font-weight: 900;
      font-size: 40px;
      line-height: 44px;
      text-align: center;
      max-width: 288px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-around;
      margin-top: 0;
      margin-bottom: 0;
    }


    .cover__subtitle {
      font-size: 16px;
      font-style: normal;
      line-height: 20px;
      text-align: center;
      max-width: 288px;
      display: flex;
      margin: 16px auto 0px;
      justify-content: space-around;
    }
    
   

    .cover__train {
      font-weight: 600;
      font-size: 60px;
      line-height: 1.15;
      
      max-width: 320px;
      text-align: center;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-around;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 40px;
    }

    

    .cover__capation {
      font-size: 10px;
      font-style: normal;
      line-height: 14px;
      letter-spacing: 1.5px;
      padding-top: 8px;
      padding-left: 16px;
      max-width: 320px;
      display: flex;
      margin: 0px auto 0px;
      justify-content: flex-start;
    }

    .travel__kotainer {
      width: 320px;
      margin: 0 auto;
  
    }


    .travel__quote {

    }
    
}




  
  @media (min-width: 768px) {
    .cards {
       grid-template-columns: repeat(2, 352px); 
      }
  

  .__item {
    max-width: 352px;
   }

   .place {
    grid-template-columns: 348px 352px; 
  }

  .place__kosa {
    max-width: 348px;
  }
 
  .logo_place_header {
    max-width: 176px;
    max-height: 52px;
  }


  .cover__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    max-width: 720px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
  }


  .cover__subtitle {
    font-size: 30px;
    font-style: normal;
    line-height: 36px;
    text-align: center;
    max-width: 640px;
    display: flex;
    margin: 32px auto 0px;
    justify-content: space-around;
  }
  

  .cover__train {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.15;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 768px;
    padding-top: 56px;
  }



  .cover__capation {
    font-size: 10px;
    font-style: normal;
    line-height: 14px;
    letter-spacing: 1.5px;
    padding-top: 8px;
    padding-left: 16px;
    max-width: 768px;
    display: flex;
    margin: 0px auto 0px;
    justify-content: flex-start;
  }


  
}




  @media (min-width: 1024px) {
    .cards { grid-template-columns: repeat(3, 300px);
      
     }
     .__item {
      max-width: 300px;
     }    

     .place {
      grid-template-columns: 440px 456px; 
    }

    .place__kosa {
      max-width: 440px;
    }

    .logo_place_header {
      max-width: 176px;
      max-height: 52px;
    }


    .cover__title {
      font-weight: 900;
      font-size: 96px;
      line-height: 100px;
      text-align: center;
      max-width: 720px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-around;
      margin-top: 0;
      margin-bottom: 0;
    }


    .cover__subtitle {
      font-size: 30px;
      font-style: normal;
      line-height: 36px;
      text-align: center;
      max-width: 640px;
      display: flex;
      margin: 32px auto 0px;
      justify-content: space-around;
    }


    .cover__train {
      font-weight: 600;
      font-size: 60px;
      line-height: 1.15;
      text-align: center;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-around;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 56px;

      max-width: 928px;
    }
    

    .cover__capation {
      font-size: 10px;
      font-style: normal;
      line-height: 14px;
      letter-spacing: 1.5px;
      padding-top: 8px;
      padding-left: 0;
      max-width: 928px;
      display: flex;
      margin: 0px auto 0px;
      justify-content: flex-start;
    }


    .travel__quote {
      font-weight: 400;
      font-size: 16px;
      line-height: 26.08px;
      padding-top: 40px;
      padding-left: 0;
      max-width: 984px;
      display: flex;
      justify-content: flex-start;
      width: 769px;
      margin-top: 0;
    }

    
}



  @media (min-width: 1280px) {
    .cards { 
      grid-template-columns: repeat(4, 284px); 
    }
    .__item {
     width: 284px;
    }

    .place {
      grid-template-columns: 460px 484px; 
    }

    .place__kosa {
      max-width: 460px;
    }
    .footer__columns {
      grid-template-columns: 460px ; 

    }

    .logo_place_header {
      max-width: 176px;
      max-height: 52px;
    }


    .cover__title {
      font-weight: 900;
      font-size: 96px;
      line-height: 100px;
      text-align: center;
      max-width: 720px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-around;
      margin-top: 0;
      margin-bottom: 0;
    }


    .cover__subtitle {
      font-size: 30px;
      font-style: normal;
      line-height: 36px;
      text-align: center;
      max-width: 640px;
      display: flex;
      margin: 32px auto 0px;
      justify-content: space-around;
    }


    .cover__train {
      font-weight: 600;
      font-size: 60px;
      line-height: 1.15;
      text-align: center;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-around;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 64px;

      max-width: 984px;

    }

    .cover__capation {
      font-size: 10px;
      font-style: normal;
      line-height: 14px;
      letter-spacing: 1.5px;
      padding-top: 8px;
      padding-left: 0;
      max-width: 984px;
      display: flex;
      margin: 0px auto 0px;
      justify-content: flex-start;
    }
    

    .travel__quote {
      font-weight: 400;
      font-size: 16px;
      line-height: 26.08px;
      padding-top: 40px;
      padding-left: 0;
      max-width: 984px;
      display: flex;
      justify-content: flex-start;
      width: 769px;
      margin-top: 0;
    }

  }   
