.baikal {
    width: 100%;
    min-height: 62.5vw;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 92px;
    color: #ffffff;
    z-index: 1;
  }


@media only screen and (max-width: 1280px) and (min-width: 1024px) {}

@media only screen and (max-width: 1024px) and (min-width: 768px) {}

@media only screen and (max-width: 768px) and (min-width: 425px) {
    
}

@media only screen and (max-width: 425px) {
    .baikal {
        margin-left: auto;
        margin-right: auto;
        margin-top: 66px;
        margin-bottom: 0;
        max-width: 320px;
        max-height: 200px;
        min-height: 100px;
      }
}