.header__link_underline {
    transition: text-decoration-color 300ms;

}

.header__link_underline:active {
    text-decoration: underline 0.15em rgb(248, 248, 248);;
    text-decoration-color: rgb(248, 248, 248);
}


  /* Подскажите пожалуйста как это можно реализовать я не понимаю :( */