.places__container {
  color: #ffffff;
  max-width: 60.77vw;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  justify-content: center;
  padding-top: 92px;
  grid-template-columns: 27.9vw 29.3vw;
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .places__container {
    max-width: 60.77vw;
    padding-top: 92px;
    grid-template-columns: 43.0vw 44.6vw;
    gap: 1.25rem;

  }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  .places__container {
    padding-top: 92px;
    grid-template-columns: 44.5vw 46.1vw;
    gap: 2.25rem 1rem;
    max-width: 720px;


  }

}

@media only screen and (max-width: 425px) {
  .places__container {
    grid-template-columns: 425px;
    padding-top: 50px;
    gap: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}