.places__container {
  color: #ffffff;
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 460fr 484fr
}



@media only screen and (max-width: 1024px) {

  .places__container {
    grid-template-columns: 440fr 456fr;
    gap: 48px 32px;
  }

}

@media screen and (max-width: 768px) {
  .places__container {
    grid-template-columns: 340fr 352fr;
    gap: 48px 28px;

  }
}


@media screen and (max-width: 600px) {
  .places__container {
    grid-template-columns: 1fr;
    gap: 32px;
  }

}