.places__container {
  color: #ffffff;
  max-width: 75vw;
  margin: 0 auto;
  display: grid;
  gap: 48px 40px;
  justify-content: center;
  grid-template-columns: 460px 484px;
  padding-top: 79px;
}


@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .places__container {
    max-width: 400px;
    grid-template-columns: 42.6vw 44.3vw;
    gap: 47px 34px;
    padding-top: 85px;

  }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  .places__container {
    grid-template-columns: 44.5vw 46.1vw;
    gap: 33px 25px;
    max-width: 720px;
    padding-top: 56px;

  }

}
 /* Я не понимаю как это правильно реализовать без модификаторов потому что нижний блок начинает съезжать, что я делаю не так? https://disk.yandex.ru/i/Wkt5OHANG5_MDA*/
@media only screen and (max-width: 425px) {
  .places__container {
    grid-template-columns: 320px;
    padding-top: 50px;
    gap: 29px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

}