.footer__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  padding-right: 18px;
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  .footer__link {
    padding-right: 1.83vw;
  }
}

@media only screen and (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
    display: block;
  }
}



