.footer__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  padding-right: 14px;
}


@media only screen and (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
    display: block;
  }
}



