.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}


@media only screen and (max-width: 425px) {
  .footer__copyright {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: auto;

  }
}