.baikal__subtitle {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding-top: 32px;
  max-width: 360px;
  line-height: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  .baikal__subtitle {
    font-size: 2.3vw;
    max-width: 45%;
    line-height: 16px;
  }
}


@media only screen and (max-width: 425px) {
  .baikal__subtitle {
    max-width: 270px;
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
    
  }
}