.baikal__title {
    font-weight: 900;
    line-height: 76px;
    font-size: 72px;
    text-align: center;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-decoration: none;
    min-height: 31vw;
    display: flex;
    flex-direction: column-reverse;
}


@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .baikal__title {
        min-height: 34.5vw;
        max-width: 560px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
    .baikal__title {
        font-size: 9.3vw;
        line-height: 1.04em;
        max-width: 554px;
        min-height: 34.3vw;
    }
}

@media only screen and (max-width: 425px) {
    .baikal__title {
        max-width: 270px;
        line-height: 32px;
        font-size: 35px;
        min-height: 31.5vw;
    }
}

