@media only screen and (max-width: 768px) and (min-width: 425px) {

  .logo_place_header {
    max-width: 176px;
    max-height: 52px;
  }

  .header__container {
    margin-left: 24px;
    margin-right: 24px;
  }

  .lead__container {
    width: 100%;
    margin: auto;
  }

  .lead__title {
    font-size: 12.5vw;
    line-height: 1.04em;

  }

  .lead__way {
    width: 100%;
  }

  .lead__subtitle {
    font-size: 4vw;
    line-height: 1em;
  }


  .lead__train {
    padding-top: 40px;
    max-width: 100%;
  }

  .lead__quote {
    margin-left: 24px;
    margin-right: 24px;
  }

  .travel__title {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .travel__container {
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }


  .travel__quote {
    max-width: 93.9vw;
    margin-left: 0;
    margin-right: 0;
  }



  .cards {
    max-width: 100%;
    padding-top: 64px;
    grid-template-columns: repeat(2, 45.8vw);
  }


  .cards__item {
    max-width: 100%;

  }


  .place__container {
    color: #ffffff;
    max-width: 984px;
    margin: 0 auto;
    display: grid;
    gap: 28px;
    justify-content: center;
    padding-top: 92px;
    grid-template-columns: 44.3vw 45.8vw;

  }

  .place__kosa {
    width: 100%;
    margin: auto;
  }

  .place__title {
    font-size: 42px;
    max-width: 340px;
  }

  .baikal__title {
    font-size: 9.3vw;
    line-height: 1.04em;
    padding-top: 15vw;
  }

  .baikal__subtitle {
    font-size: 2.3vw;
   
  }

  .baikal__train {
    width: 100%;
    margin: auto;
  }

  .baikal__overlay {
    width: 100%;
    margin: auto;
    max-height: 62.5vw;
    min-height: 26vw;
  }



}