@media only screen and (max-width: 1024px) and (min-width: 768px)  {
  .logo_place_header {
    max-width: 176px;
    max-height: 52px;
}


.lead__container {
  width: 100%;
  margin: auto;
}

  .lead__title {
    font-size: 96px;
  }


  .lead__subtitle {
    font-size: 30px;
  }

  .lead__train {
    padding-top: 40px;
    max-width: 100%;
}



.travel__container {
  width: 100%;
  margin: auto;
}


.travel__quote {
  max-width: 100%;
}





.place {
  color: #ffffff;
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  justify-content: center;
  padding-top: 92px;
  grid-template-columns: 440px 456px;

  }

.place__kosa {
  width: 100%;
  margin: auto;
}



.baikal__train {
  width: 100%;
  margin: auto;
}

.baikal__overlay {
  width: 100%;
  margin: auto;
}


.cards {
  padding-top: 64px;
  grid-template-columns: repeat(3, 300px);
}


.cards__item {
width: 300px;
}
}