/* это не совсем по БЭМ, но в учебном проекте допустимо.
В реальных условиях пишите margin: 0; внутри блоков */

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
}

body {
  background-color: #2A2C2F;
}

.page {
  max-width: 1440px;
  margin: auto;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}


/* header */


.header__container {

  margin: auto;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}


.logo_place_header {
  max-width: 176px;
  max-height: 52px;
}


.header__link {
  line-height: 28px;
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
  padding-left: 18px;
  text-decoration: none;
  transition: 1s linear;
}

.header__link:hover {
  text-decoration: underline;
}

/* lead */
.lead {
  position: relative;
  display: flex;
  align-items: center;
  /* height: 100vh; */
  /* min-height: 600px; */
  /* max-height: 756px; */
  overflow: hidden;
  z-index: 1;
  color: #ffffff;
}

.lead__container {
  width: 90%;
  margin: auto;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  padding-top: 56px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
}

.lead__subtitle {
  font-size: 30px;
  font-style: normal;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  display: flex;
  margin: 32px auto 0px;
  justify-content: space-around;
}

.lead__way {
  z-index: 3;
  top: 585px;
  width: 938px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  text-align: center;
}



.lead__train {
  font-weight: 600;
  font-size: 60px;
  line-height: 1.15;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
  padding-top: 64px;
}


.lead__capation {
  font-size: 10px;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 1.5px;
  padding-top: 8px;
  padding-left: 0;
  max-width: 928px;
  display: flex;
  margin: 0px auto 0px;
  justify-content: flex-start;
}


.lead__quote {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding-top: 8px;
  /* padding-left: 0; */
  max-width: 984px;
  display: flex;
  justify-content: flex-start;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}


/* travel */

.travel {
  color: #ffffff;
}

.travel__kotainer {
  width: 984px;
  margin: 0 auto;


}

.travel__title {
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  padding-top: 92px;
  padding-left: 0;
  max-width: 984px;
  display: flex;
  justify-content: flex-start;
}

.travel__quote {
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  padding-top: 40px;
  padding-left: 0;
  max-width: 984px;
  display: flex;
  justify-content: flex-start;
  width: 769px;
  margin-top: 0;
}

.travel__time-zones {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 16px;
}

.travel__time-zone {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;

}

.travel__span-accent {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;

}


/* column */

.content__columns {
  display: grid;
  grid-gap: 10px;
  height: 100vh;
  grid-template-columns: repeat(auto-fill, minmax(100px, auto));

}

.content__column-image {
  width: 300px;

  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

.content__column-image_hero_laika {
  background-image: url(https://pictures.s3.yandex.net/frontend-developer/responsive/laika.png);
}


/* cards */



.cards {
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  /* justify-items: center; */
  justify-content: center;
  padding-top: 92px;
  grid-template-columns: repeat(2, 352px 352px);

}

/* place */


.place {
  color: #ffffff;
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  justify-content: center;
  padding-top: 92px;
  grid-template-columns: 460px 484px;


}





.place__kosa {}

.place__link {
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
}



.place__url {
  padding-top: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20.4px;
  color: #AAAAAA;
}


.place__url_size {
  padding-top: 100px;
}



.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  /* text-align: center; */
  /* width: 60%; */
  /* display: flex; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* justify-content: center; */
  margin-top: 0;
  margin-bottom: 0;

}

.place__paragraph {
  padding-bottom: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}



/* baikal */



.baikal {
  width: 100%;
  min-height: 62.5vw;

  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-top: 92px;
  color: #ffffff;
  z-index: 1;

}


.baikal__title {
  font-weight: 900;
  line-height: 76px;
  font-size: 72px;
  text-align: center;
  max-width: 648px;
  padding-top: 196px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.baikal__subtitle {
  font-size: 18px;
  text-align: center;
  padding-top: 32px;
  width: 360px;
  line-height: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  z-index: -1;
}

.baikal__train {
  top: 0px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: -2;
  width: 100%;
}


.baikal__overlay {
  top: 0px;
  /* width: 1184px; */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: -2;
  width: 100%;
  height: 62.5vw;
  background: black;
  opacity: 30%;
  transition: 1s linear;
}


.baikal__overlay:hover {
  opacity: 80%;
}


/* footer */

.footer__columns {
  color: #ffffff;
  max-width: 1185px;
  margin: auto;
  display: flex;
  /* height: 60px; */
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 92px;
  padding-bottom: 24px;
}

.footer__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  padding-right: 18px;
  display: inline-block;

}


.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}



/* trying resizes with media */




