.lead__train {
  background-image: url(/images/kalegin-michail-179870-unsplash.png);
  background-repeat: no-repeat;
  aspect-ratio: 8 / 5;
  text-align: center;
  background-position: 50% 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  .lead__train {
    background-size: 100%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .lead__train {
    background-size: 100%;
    padding-top: 56px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  .lead__train {
    background-size: 100%;
    padding-top: 56px;
  }
}

@media only screen and (max-width: 425px) {
  .lead__train {
    padding-top: 40px;
    background-size: 100%;
  }

}